<div class="header-container">
  <div class="options">
    <div class="button-bold">
      <input type="image" src="assets/img/bold-type-svgrepo-com.svg">
    </div>
    <div class="button-italic">
      <input type="image" src="assets/img/italic.svg" />
    </div>
    <div class="button-underline">
      <input type="image" src="assets/img/edit.svg" />
    </div>
    <div class="button-image">
      <input type="image" src="assets/img/picture-svgrepo-com.svg" />
    </div>
    <div class="button-quote">
      <input type="image" src="assets/img/media.svg" />
    </div>
    <div class="button-list">
      <input id="input-img" type="image" src="assets/img/list.svg" />
    </div>
  </div>
  <div class="footer">
  </div>
</div>
